@import 'bootstrap/dist/css/bootstrap.css';
@import '@fortawesome/fontawesome-free/css/all.css';


// body{
//     background-color: #3f3f3f;
//     color: white;
// }
.cell-content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cell-content-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
